.TextForm{
    overflow: hidden;
}

.formControl{
    padding: 16px 20px;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid #000000;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

select.formControl{
    background: url(../../images/arrow-down-select.svg) no-repeat;
    background-position: center right 20px;
}

.submitInput{
    background: #e5d0b1;
    /* background: #E35B5B; */
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    padding: 16px 25px;
}

@media (max-width:575.98px){
    .submitInput{font-size:16px;padding:13px 20px;}
    .formControl{font-size:14px;}
}

@media (min-width:576px) and (max-width:767.98px){
    .formControl{font-size:14px;}
    .submitInput{font-size:16px;padding:14px 25px;}
}

@media (min-width:768px) and (max-width:991.98px){
    .formControl{font-size:14px;}
    .submitInput{font-size:16px;padding:14px 25px;}
}

@media (min-width:992px) and (max-width:1199.98px){
    .formControl{font-size:14px;}
    .submitInput{font-size:16px;padding:14px 25px;}
}

@media (min-width:1200px) and (max-width:1399.98px){
}