.locBox{
    position: relative;
    overflow: hidden;
}

.locBox img{
    transform: scale(1.02);
}

.locBoxText{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px 30px;
}

.locBoxText span{
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
}

.locBoxText p{
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    color: #fff;
    margin-bottom: 10px;
}

.locBoxText h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #fff;
}

.LocationSecGlobal.default-pt1{padding-top:0;}

@media (max-width:575.98px){
}

@media (min-width:576px) and (max-width:767.98px){
    .locBoxText{padding:20px 20px;}
    .locBoxText span{font-size:22px;line-height:24px;}
    .locBoxText p{font-size:12px;}
    .locBoxText h4{font-size:16px;line-height:24px;}
}

@media (min-width:768px) and (max-width:991.98px){
    .locBoxText{padding:20px 20px;}
    .locBoxText span{font-size:28px;line-height:30px;}
    .locBoxText h4{font-size:16px;line-height:22px;}
    .locBoxText p{font-size:14px;line-height:18px;}
}

@media (min-width:992px) and (max-width:1199.98px){
}

@media (min-width:1200px) and (max-width:1399.98px){
}