.col3{
    position: relative;
}

.col3 img{
    object-fit: contain;
}

.col3Text h3{
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    color: #000;
    margin:25px 0 20px 0;
}

.col3Text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #000;
}

.col3Text a{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(227, 91, 91, 1);
    border-bottom:1px solid rgba(227, 91, 91, 1);
    transition: 0.5s;
}

.col3Text a:hover{
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}

@media (max-width:575.98px){
    .col3Text h3{font-size:20px;margin-bottom:10px;}
}

@media (min-width:576px) and (max-width:767.98px){
    .col3Text h3{font-size:20px;line-height:26px;}
    .col3Text p{font-size:14px;line-height:22px;}
    .col3Text a{font-size:14px;}
}

@media (min-width:768px) and (max-width:991.98px){
    .col3Text h3{font-size:20px;line-height:26px;}
    .col3Text p{font-size:14px;line-height:22px;}
    .col3Text a{font-size:14px;}
}

@media (min-width:992px) and (max-width:1199.98px){
    .col3Text h3{font-size:20px;line-height:26px;}
    .col3Text p{font-size:14px;line-height:22px;}
    .col3Text a{font-size:14px;}
}

@media (min-width:1200px) and (max-width:1399.98px){
}

@media (max-width:1200px){
    .col3Text p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3; 
        -webkit-box-orient: vertical;
    }
}