.Header2{
    background: url(../../images/about-header.webp) no-repeat;
    background-position: top right;
    background-size: contain;
    padding: 250px 0 150px 0;
}
  
.Header2 h1{
    color: #000;
    font-size: 100px;
    font-weight: 800;
    line-height: 100px;
}
  
.Header2 p{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #000;
}

@media (max-width:575.98px){
    .Header2 p{font-size:12px;line-height:16px;}
    .Header2 h1{font-size:32px;line-height:50px;}
    .Header2{padding:250px 0 200px 0;background-size:cover;}
}

@media (min-width:576px) and (max-width:767.98px){
    .Header2 p{font-size:15px;line-height:20px;}
    .Header2 h1{font-size:52px;line-height:70px;}
    .Header2{padding:250px 0 200px 0;background-size:cover;}
}

@media (min-width:768px) and (max-width:991.98px){
    .Header2 h1{font-size:60px;line-height:80px;}
}

@media (min-width:992px) and (max-width:1199.98px){
    .Header2 h1{font-size:70px;line-height:80px;}
}

@media (min-width:1200px) and (max-width:1399.98px){
    .Header2 h1{font-size:80px;line-height:95px;}
    .Header2 p{font-size:14px;line-height:20px;}
}