.text4 h2{
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
    color:#000;
    margin-bottom: 60px;
}

.text4 h3{
    font-size: 32px;
    font-weight: 600;
    line-height: 60px;
    color:#000;
    margin-bottom: 20px;
}

.text4 p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #000;
}

.text4_h2fw700 h2{
    font-weight: 700;
}

.imgAbs4{
    position: absolute;
    left: 0;
    top: 130px;
    width: 259px;
    height: 266px;
}

.imgAbs5{
    position: absolute;
    right: 50px;
    bottom: 80px;
    width: 215px;
    height: 207px;
}

.text4Label span em{
    position: relative;
    /* color: rgba(227, 91, 91, 1); */
    color: #e5d0b1;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    background: #fff;
    font-style: normal;
    padding-left: 10px;
    z-index: 2;
}

.text4Label span{
    position: relative;
    padding-left: 50px;
    display: inline-block;
    margin-bottom: 20px;
}

.text4Label span:after{
    position: absolute;
    content: "";
    /* background-color: rgba(227, 91, 91, 1); */
    background-color: #e5d0b1;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    z-index: 1;
}

.bgf6f6f6Label span em{
    background: #f6f6f6;
}

.bgTransparentLabel span em{
    background: transparent;
}

.posTop110px{
    position: relative;
    z-index: 2;
    top: 52px;
}

.text4_fszP16 p{
    font-size: 16px !important;
    line-height: 25px !important;
}

.Hidetext4Label span{
    padding-left: 0;
}

.Hidetext4Label span:after{
    display: none;
}

@media (max-width:575.98px){
    .imgAbs4{width:99px;height:100px;top:0;}
    .text4 h2{font-size:30px;line-height:40px;;margin-bottom:25px;}
    .text4 p{font-size:16px;line-height:25px;}
    .imgAbs5{width:81px;height:78px;right:0;bottom:20px;}
    .posTop110px{top:29px;}
    .text4Label span{margin-bottom:10px;padding-left:30px;}
    .text4HideLabel span{display:none;}
    .imgAbs4, .imgAbs5{display:none;}
    .centerText.default-pt1{
        padding: 50px 0 !important;
    }
}

@media (min-width:576px) and (max-width:767.98px){
    .centerText.default-pt1{
        padding: 50px 0 !important;
    }
    .imgAbs4, .imgAbs5{display:none;}
    .text4_fszP16 p{
        font-size: 14px !important;
        line-height: 24px !important;
    }
    .imgAbs4{width:99px;height:100px;top:0;}
    .text4 h2{font-size:34px;line-height:40px;;margin-bottom:25px;}
    .text4 p{font-size:16px;line-height:25px;}
    .imgAbs5{width:81px;height:78px;right:0;bottom:20px;}
    .posTop110px{top:29px;}
    .text4HideLabel span{display:none;}
    .text4Label span{padding-left:28px;}
    .text4Label span em{font-size:14px;}
}

@media (min-width:768px) and (max-width:991.98px){
    .text4_fszP16 p{
        font-size: 14px !important;
        line-height: 24px !important;
    }
    .imgAbs4{top:0;width:190px;height:135px;}
    .imgAbs5{right:30px;bottom:60px;width:150px;height:100px;}
    .text4 h2{font-size:36px;line-height:46px;margin-bottom:30px;}
    .text4 h2 br{display:none;}
    .text4 p{font-size:16px;line-height:26px;}
    .text4 span{padding-left:30px;}
    .text4 span em{font-size:14px;}
}

@media (min-width:992px) and (max-width:1199.98px){
    .imgAbs4{width:190px;height:170px;top:100px;object-fit:cover;}
    .imgAbs5{right:30px;bottom:60px;width:180px;height:150px;object-fit:cover;}
    .text4 h2{font-size:36px;line-height:46px;margin-bottom:30px;}
    .text4 h2 br{display:none;}
    .text4 p{font-size:16px;line-height:26px;}
}

@media (min-width:1200px) and (max-width:1399.98px){
    .imgAbs4{width:199px;height:206px;}
    .imgAbs5{width:175px;height:167px;}
    .text4 h2{font-size:44px;}
    .text4 p{font-size:18px;}
}