/* Header CSS */
.siteHeader{
  padding: 30px 0;
  position: relative;
  left: 0;
  right: 0;
  z-index: 999;
  transition: 0.5s;
}


/* Navbar CSS */
.navbar-nav{
  flex-direction: row;
  align-items: center;
}

.list-inline-item:not(:last-child){
  margin-right: 55px !important;
}

.navbar-nav li a{
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  color: rgba(0, 0, 0, 1);
}

.navbar-nav li.HdrBtn a{
  background: rgba(227, 91, 91, 1);
  color: #fff;
  display: inline-block;
  padding: 16px 20px;
  line-height: 15px;
  font-weight: 600;
  transition: 0.5s;
}

.navbar-nav li.HdrBtn a:hover{
  background-color: #000;
  color: #fff;
  transform: 0.5s;
}

.text1 h2{
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: #000;
  margin-bottom: 20px;
}

.text1 h3{
  color: #000;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
}

.text1_h2Mb h2{
  margin-bottom: 40px;
}

.default-pt{
  padding-top: 220px;
}

.default-pb{
  padding-bottom: 220px;
}

.imgAbs1{
  position: absolute;
  top: 0;
  right: 0;
  width: 170px;
  height: 160px;
}

.posRelv{
  position: relative;
}

.has-scroll-smooth [data-scroll-container].text1Sec{
  min-height: 60vh;
}

.text1Sec .text1 h2{
  position: relative;
  z-index: 2;
}

.imgAbsHome img{
  width: 270px;
  position: relative;
  z-index: 1;
  height: 100%;
}

.posRev{
  position:relative;
}

.imgAbs2{
  position: absolute;
  left: 150px;
  top: 50%;
  transform: translate(0, -50%);
  width: 300px;
  height: 300px;
}

.imgAbs3{
  position: absolute;
  right: 50px;
  top: 25%;
  transform: translate(0, -50%);
  width: 225px;
  height: 228px;
}

.text2 h2{
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #000;
}

a{
  text-decoration: none;
}

.btn1{
  display: inline-block;
  border: 0.5px solid rgba(0, 0, 0, 1);
  color: #000;
  padding: 14px 38px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  transition: 0.5s;
}

.btn1:hover{
  background: #000;
  color: #fff;
  transition: 0.5s;
}

.serBox{
  position: relative;
}

.serBoxImg img{
  width: 100%;
  height: 460px;
}

.serBoxText{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  color: #fff;
  transition: 0.5s;
}

.serBoxText:hover{
  background: rgba(229, 91, 89, 1);
  transform: scale(1.1);
  transition: 0.5s;
  z-index: 1;
}

.serBoxText:hover span{
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  background: transparent;
  text-align: left;
  color: #fff;
  align-self: flex-start;
  transition: 0.5s;
}

.serBoxText span{
  display: inline-block;
  align-self: flex-end;
  background: #fff;
  color: #000;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  transition: 0.5s;
}

.serBoxText h3{
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  margin-bottom: 0;
}

.text-justify{
  text-align: justify;
}

.fullImg img{
  width: 100%;
  height: 100%;
}

.imgMagnify{
  overflow: hidden;
}

.imgMagnify img{
  transform: scale(1.0);
  transition: 0.5s;
}

.imgMagnify:hover img{
  transform: scale(1.1);
  transition: 0.5s;
}

.expImg img{
  height: 570px;
}

@media (min-width:1300px){
  .rowz1{
    margin-left: -35px !important;
    margin-right: -35px !important;
  }

  .rowz1 > *{
    padding-left: 35px !important;
    padding-right: 35px!important;
  }
}

.iconBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.iconBox:after{
  position: absolute;
  content: "";
  right: -15px;
  top: 50%;
  transform: translate(0%, -50%);
  background: rgba(0, 0, 0, 0.3);
  height: 80%;
  width: 1px;
}

.iconBox img{
  width: 36px;
  height: 36px;
}

.iconBox span{
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  display:block;
  margin-top: 15px;
}

.removeLastBorder .col-6:nth-last-child(1) .iconBox:after{
  display: none;
}

.text2 h1{
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  color: #000;
}

.text2_h2mb h2{
  margin-bottom: 0;
}

.titleBlog{
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #000;
  margin: 25px 0 20px 0;
  display: block;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.blogBox p{
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(78, 78, 78, 1);
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3; 
   -webkit-box-orient: vertical;
}

.blogBox span{
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.blogBox span a{
  color: rgba(229, 91, 89, 1);
}

.scrollingRow {
  position: relative;
  width: 100%;
  height: 265px;
  overflow: hidden;
}
.scrollingBg {
  position: relative;
  left: -90px;
  width: 200%;
  height: 100%;
}

.scrollingRow:hover h3{
  animation: scrollBackground 20s linear infinite;
}

.scrollingBg h3{
  color: #000;
  font-size: 250px;
  font-weight: 800;
  line-height: 199px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 2px;
  opacity: 0.2;
}

.scrollingContent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 24px;
}

.scrollingContent h2{
  color: #000;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 0;
}

@keyframes scrollBackground {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.widget h3{
  font-size: 24px;
  font-weight: 800;
  line-height: 20px;
  color: #000;
  margin-bottom: 30px;
}

.widget a, .widget p{
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #000;
  display: block;
  margin-bottom: 13px;
}

.copyrightText{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
}

.siteFooterLinks a, .siteFooterLinks span{
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #000;
}

.linkMargin{
  margin-right: 35px;
}

.siteFooterLinks span strong{
  font-weight: 700;
}

.socialIcons a{
  margin-right: 15px;
}

.socialIcons a:nth-last-child(1){
  margin-right: 0;
}

.socialIcons a:hover path{
  fill:rgba(227, 91, 91, 1);
  stroke:#fff;
  transition: 0.5s;
}

.navbar-toggler{
  width: 100%;
  position: relative;
  top: -4px;
  transition:0.5s;
}

.navbar-toggler-icon{
  background: #000;
  height: 3px;
  position: relative;
  display: block;
  width: 90%;
  transition:0.5s;
}

.navbar-toggler-icon::before{
  position: absolute;
  content: "";
  background-color: #000;
  width: 100%;
  height: 3px;
  right: 0;
  top: -16px;
  transition:0.5s;
}

.navbar-toggler-icon::after{
  position: absolute;
  content: "";
  background-color: #000;
  width: 70%;
  height: 3px;
  right: 0;
  top: 16px;
  transition:0.5s;
}

.mobileHeaderBtn{
  background-color: #E35B5B;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  display: inline-block;
  padding: 14px 25px;
  text-align: center;
}

.text1 h4{
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: #000;
  margin-bottom: 0;
}

.text1 h5{
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #000;
  margin-bottom: 0;
}

.HomeLogoz .slick-slide div{
  position: relative;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.HomeLogoz .slick-slide div:after{
  position: absolute;
  content: "";
  right: 0;
  background:rgba(0,0,0,0.3);
  width: 1px;
  height: 100%;
  top: 0;
}

.slick-track{
  display: flex;
}

.default-pt1{
  padding-top: 150px;
}

.default-pb1{
  padding-bottom: 150px;
}

.default-pt2{
  padding-top: 100px;
}

.default-pb2{
  padding-bottom: 100px;
}

.mt80px{
  margin-top: 80px;
}

.bgf6f6f6{
  background: #F6F6F6;
}


.AmenitiesRow .col-md-4{
    margin-bottom: 30px;
}

@media (min-width:768px){
  .AmenitiesRow .col-md-4:nth-last-child(1), 
  .AmenitiesRow .col-md-4:nth-last-child(2), 
  .AmenitiesRow .col-md-4:nth-last-child(3){
    margin-bottom: 0;
  }
}

@media (max-width:767.98px){
  .AmenitiesRow .col-md-4:nth-last-child(1), 
  .AmenitiesRow .col-md-4:nth-last-child(2){
    margin-bottom: 0;
  }
}

.underlineBtn{
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #E35B5B;
  border-bottom: 1px solid #E35B5B;
  display: inline-block;
}

.underlineBtn:hover{
  border-bottom: 1px solid transparent;
}

.sliderGallery img{
  width: 100%;
  height: 100%;
}

.sliderGallery .slick-slide{
  margin-left: 50px;
}

.galleryContainer{
  position: relative;
}

.sliderGalleryArrowzz{
  width: 180px;
  position: absolute;
  z-index: 9999;
  right: 285px;
  top: 50%;
  transform: translate(0%, -50%);
  background: #fff;
  height: 70px;
  display: flex;
  align-items: center;
}

.sliderGallery .slicks-list{
  padding-left: 0 !important;
  margin-left: 50px;
}

.sliderGallery .slicks-slide{
  margin-left: 50px;
}

.accordion-item .accordion-button{
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: #000;
  outline: none;
  background: transparent;
  padding: 30px 40px;
  box-shadow: none;
}

.accordion-item .accordion-body{
  padding: 0 40px 30px 40px;
}

.accordion-button::after{
  background: url('../images/faq-right-arrow.svg');
  width: 14px;
  height: 24px;
  background-size: 100%;
}

.accordion-button:not(.collapsed)::after{
  background: url('../images/faq-right-arrow.svg');
  width: 14px;
  height: 24px;
  transform: rotate(-90deg);
  background-size: 100%;
}

.btn2{
  background: #E35B5B;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
  padding: 16px 30px;
}

/* .topPadding{padding-top:140px;} */

.SliderHeaderImagesArrowz{
  position: absolute;
  bottom: -1px;
  width: 180px;
  right: 12px;
  z-index: 2;
  background: #fff;
  padding: 28px 30px;
}

.customArrows .slick-slider{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.customArrows .slick-arrow::before{
  display: none;
}

.customArrows .slick-arrow{
  width: 34px;
  height: 24px;
  transform: none;
  top: inherit;
  background-size: 100% !important;
}

.customArrows .slick-prev{
  left: 25px;
  background: url(../images/arrow-left-header-slider.svg) no-repeat;
}

.customArrows .slick-next{
  right: 25px;
  background: url(../images/arrow-right-header-slider.svg) no-repeat;
}

.customArrows .slick-prev:after {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.2);
  width: 0.5px;
  height: 42px;
  top: 50%;
  right: -30px;
  transform: translate(0%, -50%);
}

.customTabs{
  background: #f5f5f5;
  padding: 20px 35px;
}

.customTabs .nav-tabs .nav-link.active, .customTabs .nav-tabs .nav-link:focus, .customTabs .nav-tabs .nav-link:hover{
  background: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  box-shadow: none;
  position: relative;
}

.customTabs .nav-tabs .nav-link:hover{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.customTabs .nav-tabs .nav-link.active:after, .customTabs .nav-tabs .nav-link:hover:after{
  position: absolute;
  content: "";
  background-color: rgba(227, 91, 91, 1);
  height: 100%;
  width: 10px;
  right: -36px;
  top: 0;
}

body .CustomTabs ul li:nth-last-child(1) .nav-link{
  border-bottom: 1px solid transparent !important;
}

.CurveArrowDown{
  position: absolute;
  bottom: 0;
  left: 15px;
}

.aboutPage .LocationSecGlobal.default-pt1{padding-top:0;}
.aboutPage .solutionsAboutSec.default-pt{padding-top:50px;}

.subMenu{
  position: absolute;
  top: -200px;
}

main{
  position: relative;
  z-index: 1;
}

.subMenu.active{
  /* display: block !important; */
  height: 100% !important;
  opacity: 1 !important;
  z-index: 1 !important;
  position: relative !important;
  padding: 120px 0;
  transition: 2s;
  top: 30px;
  background: #000;
}

.activeSubmenu.siteHeader{
  background: #000;
}

.activeSubmenu.siteHeader .navbar-nav li a{
  color: #fff;
}

.activeSubmenu.siteHeader .navbar-brand .subMenuLogo{
  display: block !important;
}

.activeSubmenu.siteHeader .navbar-brand .DesktopLogo{
  display: none !important;
}

/* section{
  opacity: 1 !important;
} */

.navbar-subnav{
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
}

.navbar-subnav li a, .navbar-subnav li a:focus{
  color: rgba(255, 255, 255, 0.40);
  font-size: 25px;
  font-weight: 600;
  line-height: 48px;
  position: relative;
}

.navbar-subnav li a:hover{
  color: #fff;
}

.childSubMenu.active{
  /* visibility: visible !important; */
  opacity: 1 !important;
  height: 100% !important;
  transition: 0.5s;
}

.navbar-subnav li.dropdown a:after{
  position: relative;
  content: "";
  background:url('../images/dropdown-desktop.svg');
  width: 12px;
  height: 3px;
  right: -30px;
  top: -5px;
  display: inline-block;
}

.navbar-subnav li .childSubMenu li a:after{
  display: none !important;
}

.featureImgBox{
  position: relative;
}

.featureImgBox span{
  color: #000;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  padding: 8px 30px;
  background: #fff;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.featureImgBoxLeft span{
  right: inherit;
  left: 20px;
}

.sliderGallery .slick-list{
  padding-left: 0 !important;
}

.kpRow2 .row .col-md-3 .kpBoxInner{
  position: relative;
}

.kpRow2 .row .col-md-3 .kpBoxInner:after{
  position: absolute;
  content: "";
  background: rgba(169, 169, 169, 1);
  width: 1px;
  height: 100%;
  left: -50px;
  top: 0;
}

@media (min-width:767.98px){
  .kpRow2 .row .col-md-3:nth-child(1) .kpBoxInner:after{display: none;}
}

@media (min-width:767.98px){
  .EvenOrderRow .row:nth-child(even) .col-md-6{
    order:2;
  }
  .EvenOrderRow .row:nth-child(even) .col-md-5{
    order:1;
  }
  .gallerySecGlobal .btn1{ position: relative; top: -8px; }
  .comLogos .text2 h1{
    position: relative;
    top: 11px;
  }
}

@media (max-width:415px){
  .mobileHeaderBtn{padding:14px 16px!important;}
}

@media (max-width:1024px){
  .text1Sec{padding-bottom: 100px;}
  .imgAbsHome img{width:100%;}
}


@media (max-width:575.98px){
  .kpRow2 .row .col-md-3 .kpBoxInner:after{left:-14px;}
  .container{padding-left:25px!important;padding-right:25px!important;}

  /* Header CSS */
  .MobileLogo{width:38px;height:50px;}

  /* Homepage CSS */
  .HomeSol .text2 h2{font-size:24px;line-height:32px;}
  .HomeBlog .text2 h2{font-size:24px;line-height:32px;}
  .text2 h1{font-size:34px;line-height:42px;}
  .text1 h2{font-size:24px;line-height:30px;}
  .text1 h3{font-size:20px;line-height:25px;}
  .D1img{width:106px;height:109px;}
  .remove_h2Margin h2{margin-bottom:0;}
  .remove_h3Margin h3{margin-bottom:0;}
  .dImg1{width:120px;height:125px;}
  .dImg2{width:120px;height:125px;}
  .default-pb{padding-bottom:100px;}
  .default-pt{padding-top:100px;}
  .textCenterSec{overflow:hidden;}
  .imgAbs3{right:-60px;width:130px;height:130px;}
  .imgAbs2{left:-70px;width:130px;height:130px;bottom:0;top:inherit;transform:inherit;}
  /* .text2 h2{font-size:24px;line-height:30px;} */
  .btn1{font-size:14px;padding:8px 18px;}
  .rowMbMobile .col-sm-3{margin-bottom:25px;}
  .rowMbMobile .col-md-4{margin-bottom:45px;}
  .rowMbMobile .col-sm-3:nth-last-child(1){margin-bottom:0;}
  .rowMbMobile .col-md-4:nth-last-child(1){margin-bottom:0;}
  .text2_h2mbMobile h2{margin-bottom:40px;}
  .expImg img{height:300px;}
  .iconBox:after{display:none;}
  .text1 h4{font-size: 16px;line-height:24px;}
  .text-justify{text-align:left;}
  .KillcontainerMobile{width:100%;padding:0!important;}
  .KillcontainerMobile .CustomG-0{--bs-gutter-y:0;--bs-gutter-x:0;}
  .KillcontainerMobile .col-6 .iconBox{border-right:1px solid rgba(0,0,0,0.3);border-bottom:1px solid rgba(0,0,0,0.3);padding:40px 0;}
  .KillcontainerMobile .col-6:nth-child(2) .iconBox, 
  .KillcontainerMobile .col-6:nth-child(4) .iconBox, 
  .KillcontainerMobile .col-6:nth-child(6) .iconBox{
    border-right: 0;
  }
  .KillcontainerMobile .col-6:nth-last-child(1) .iconBox, 
  .KillcontainerMobile .col-6:nth-last-child(2) .iconBox{
    border-bottom: 0;
  }
  .scrollingRow h3{
    animation: scrollBackground 20s linear infinite;
  }
  .scrollingBg h3{font-size:100px;line-height:110px;}
  .scrollingContent h2{font-size:24px;line-height:30px;}
  .scrollingRow{height:auto;}
  .scrollingContent img{width:26px;}
  .widget h3{margin-bottom:20px;}
  .siteFooterLinks a, .siteFooterLinks span{font-size:16px;display:block;margin-bottom:20px;}
  .siteFooterLinks span a{margin-bottom:0;display:inline;}
  .copyrightText{font-size:16px;}
  .HomeLogoz .slick-slide div{height:120px;justify-content:center;}
  .HomeLogoz .slick-slide img{width:90px !important;}
  /* .text2 h1{font-size:24px;line-height:30px;} */

  /* Other CSS */
  .default-pt1{padding-top:100px;}
  .accordion-item .accordion-button{font-size:16px;line-height:20px;padding:20px 20px 20px 20px;}
  .accordion-item .accordion-body{padding:10px 40px 10px 20px;}
  body .accordion-body p{font-size:14px!important;line-height:25px!important;}
  .accordion-button:not(.collapsed)::after, .accordion-button::after{width:8px;height:13px;}
  .CurveArrowDown{width:20px;}
  .default-pb1{padding-bottom:100px;}
  .keySec.default-pb1{padding-bottom:0;}
  .text1 h5{font-size:16px;line-height:24px;}

  /* Service template */
  .mt80px{margin-top:50px;}
  .underlineBtn{font-size:14px;}
  /* .topPadding{padding-top:120px;} */
  /* .SliderHeaderImagesArrowz{display:none;} */
  .btn2{font-size:14px;padding:12px 20px;}
  .SliderHeaderImagesArrowz{width:120px;padding:8px 10px;right:inherit;left:10px;position:relative;}
  .customArrows .slick-arrow{width:24px;height:15px;}
  .customArrows .slick-prev:after{height:25px;right:-11px;top:65%;}
  .text4MobileBenefits{font-size:26px !important;}
  .mobilePad1{padding-bottom:0 !important;}
  .mobilePad2{padding-bottom:0 !important;padding-top:30px !important;}
  .mobilePad3{padding-top:30px !important;}
  .default-pb2{padding-bottom:60px;}
  .default-pt2{padding-top:60px;}
  .removeMobile-default-pb2{padding-bottom:0;}
  .gallerySec .btn1{ position: relative; top: -8px; }
  .featureImgBox img{height:120px;width:100%;object-fit:cover;}
  .featureImgBox span{right:inherit;left:inherit;bottom:inherit;position:relative;border:1px solid #ccc;display:block;text-align:center;padding:10px 5px;}
  .sliderGallery .slick-slide{margin-left:30px;}
  .sliderGalleryArrowzz{width:80px;right:30px;height:40px;}
  .sliderGalleryArrowzz.customArrows .slick-prev:after{height:20px;right:-7px;top:60%;}
  .sliderGalleryArrowzz.customArrows .slick-prev{left:10px;}
  .sliderGalleryArrowzz.customArrows .slick-next{right:10px;}

  /* Contact Page CSS */
  .contactPage .default-pt1{padding-top:50px !important;}
  .text4Contact h2{font-size:22px;line-height:32px;}
  .text4Contact p{font-size:14px!important;line-height:24px!important;}
}


@media (min-width:576px) and (max-width:767.98px){
  /* Header CSS */
  .MobileLogo{width:38px;height:50px;}

  /* Homepage CSS */
  .text1 h2{font-size:24px;line-height:30px;}
  .text1 h3{font-size:20px;line-height:25px;}
  .D1img{width:106px;height:109px;}
  .remove_h2Margin h2{margin-bottom:0;}
  .remove_h3Margin h3{margin-bottom:0;}
  .dImg1{width:120px;height:125px;}
  .dImg2{width:120px;height:125px;}
  .default-pb{padding-bottom:100px;}
  .default-pt{padding-top:100px;}
  .textCenterSec{overflow:hidden;}
  .imgAbs3{right:-60px;width:130px;height:130px;}
  .imgAbs2{left:-70px;width:130px;height:130px;bottom:0;top:inherit;transform:inherit;}
  .text2 h2{font-size:24px;line-height:30px;}
  .btn1{font-size:14px;padding:8px 18px;}
  .rowMbMobile .col-sm-3{margin-bottom:25px;}
  .rowMbMobile .col-md-4{margin-bottom:45px;}
  .rowMbMobile .col-sm-3:nth-last-child(1){margin-bottom:0;}
  .rowMbMobile .col-md-4:nth-last-child(1){margin-bottom:0;}
  .text2_h2mbMobile h2{margin-bottom:40px;}
  .expImg img{height:300px;}
  .iconBox:after{display:none;}
  .text1 h4{font-size: 20px;line-height:25px;}
  .text-justify{text-align:left;}
  .KillcontainerMobile{width:100%;padding:0!important;}
  .KillcontainerMobile .CustomG-0{--bs-gutter-y:0;--bs-gutter-x:0;}
  .KillcontainerMobile .col-6 .iconBox{
    border-right:1px solid rgba(0,0,0,0.3);
    border-bottom:1px solid rgba(0,0,0,0.3);
    padding:40px 0;
  }
  .KillcontainerMobile .col-6:nth-child(3) .iconBox, 
  .KillcontainerMobile .col-6:nth-child(6) .iconBox{
    border-right: 0;
  }
  .KillcontainerMobile .col-6:nth-last-child(1) .iconBox, 
  .KillcontainerMobile .col-6:nth-last-child(2) .iconBox, 
  .KillcontainerMobile .col-6:nth-last-child(3) .iconBox{
    border-bottom: 0;
  }
  .scrollingBg h3{font-size:100px;line-height:110px;}
  .scrollingContent h2{font-size:24px;line-height:30px;}
  .scrollingRow{height:auto;}
  .scrollingContent img{width:26px;}
  .widget h3{margin-bottom:20px;}
  .siteFooterLinks a, .siteFooterLinks span{font-size:16px;display:block;margin-bottom:20px;}
  .siteFooterLinks span a{margin-bottom:0;display:inline;}
  .copyrightText{font-size:16px;}
  .HomeLogoz .slick-slide div{height:120px;}
  .text2 h1{font-size:24px;line-height:30px;}

  /* Other CSS */
  .default-pt1{padding-top:100px;}
  .accordion-item .accordion-button{font-size:16px;line-height:20px;padding:20px 20px 20px 0px;font-weight:300;}
  .accordion-item .accordion-body{padding:10px 40px 10px 0;}
  .accordion-body p{font-size:14px!important;line-height:20px!important;}
  .accordion-button:not(.collapsed)::after, .accordion-button::after{width:8px;height:13px;}
  .customTabs .nav-tabs .nav-link.active:after, .customTabs .nav-tabs .nav-link:hover:after{width:5px;right:-5px;}
  .customTabs{padding:20px 5px;}
  .CurveArrowDown{width:20px;}
  .default-pb1{padding-bottom:100px;}
  .keySec.default-pb1{padding-bottom:0;}
  .text1 h5{font-size:18px;line-height:25px;}

  /* Service template */
  .mt80px{margin-top:50px;}
  .underlineBtn{font-size:14px;}
  .text4MobileBenefits{font-size:26px !important;}
  .mobilePad1{padding-bottom:0 !important;}
  .mobilePad2{padding-bottom:0 !important;padding-top:30px !important;}
  .mobilePad3{padding-top:30px !important;}
  .removeMobile-default-pb2{padding-bottom:0;}
  .gallerySec .btn1{ position: relative; top: -8px; }
  .featureImgBox img{height:120px;width:100%;object-fit:cover;}
  .featureImgBox span{right:inherit;left:inherit;bottom:inherit;position:relative;border:1px solid #ccc;display:block;text-align:center;padding:10px 5px;}
  .sliderGallery .slick-slide{margin-left:30px;}
  .sliderGalleryArrowzz{width:103px;right:95px;height:50px;}
  .sliderGalleryArrowzz.customArrows .slick-arrow{width:28px;height:18px;}
  .sliderGalleryArrowzz.customArrows .slick-prev:after{height:20px;right:-13px;top:60%;}
  .sliderGalleryArrowzz.customArrows .slick-prev{left:10px;}
  .sliderGalleryArrowzz.customArrows .slick-next{right:10px;}
  .accordion-item .accordion-button{font-size:16px;line-height:20px;padding:20px 20px 20px 20px;}
  .accordion-item .accordion-body{padding:10px 40px 10px 20px;}
  body .accordion-body p{font-size:14px!important;line-height:25px!important;}
  .accordion-button:not(.collapsed)::after, .accordion-button::after{width:8px;height:13px;}
}

@media (min-width:768px) and (max-width:991.98px){
  .kpRow2 .row .col-md-3 .kpBoxInner:after{left:-20px;}
  .text1 h5{font-size:16px;}
  .text1 h2{font-size:30px;line-height:38px;}
  .text1 h3{font-size:20px;line-height:32px;}
  .imgAbs1{bottom:60px;}
  .dImg1{width:160px;height:160px;}
  .dImg2{width:160px;height:160px;}
  .default-pt{padding-top:120px;}
  .default-pb{padding-bottom:120px;}
  .imgAbs3{right:20px;width:160px;height:160px;}
  .imgAbs2{width:110px;height:110px;top:60%;left:10px;}
  .text1 h4{font-size:18px;line-height:26px;margin-bottom:0;}
  .expImg img{height:350px;}
  .iconBox:after{display:none;}
  .KillcontainerMobile .CustomG-0{--bs-gutter-y:0;--bs-gutter-x:0;}
  .KillcontainerMobile .col-6 .iconBox{
    border-right:1px solid rgba(0,0,0,0.3);
    border-bottom:1px solid rgba(0,0,0,0.3);
    padding:40px 0;
  }
  .KillcontainerMobile .col-6:nth-child(3) .iconBox, 
  .KillcontainerMobile .col-6:nth-child(6) .iconBox{
    border-right: 0;
  }
  .KillcontainerMobile .col-6:nth-last-child(1) .iconBox, 
  .KillcontainerMobile .col-6:nth-last-child(2) .iconBox, 
  .KillcontainerMobile .col-6:nth-last-child(3) .iconBox{
    border-bottom: 0;
  }
  .text2 h1{font-size:36px;line-height:40px;}
  .blogBox p{font-size:14px;line-height:22px;}
  .blogBox span{font-size:12px;}
  .scrollingBg h3{font-size:160px;}
  .scrollingContent h2{font-size:42px;}
  .linkMargin{margin-right:18px;}

  /* Other CSS */
  .customTabs{padding:20px 5px;}
  .accordion-item .accordion-button{font-size:16px;padding:18px 30px 18px 10px;line-height:26px;}
  .customTabs .nav-tabs .nav-link.active:after, .customTabs .nav-tabs .nav-link:hover:after{width:7px;right:-5px;}
  .accordion-item .accordion-body{padding:0 40px 30px 10px;}
  .accordion-button:not(.collapsed)::after, .accordion-button::after{width:8px;height:13px;}
  .customTabs .nav-tabs .nav-link.active:after, .customTabs .nav-tabs .nav-link:hover:after{width:5px;right:-5px;}
  .CurveArrowDown{width:20px;}
  .keySec.default-pb1{padding-bottom:80px;}
  .navbar-subnav li a, .navbar-subnav li a:focus{font-size:20px;line-height:38px;}

  /* Service Template */
  .EvenOrderRow .row.default-pb2{padding-bottom:50px;}
  .EvenOrderRow .row.default-pt2{padding-top:50px;}
  .text4MobileBenefits{font-size:26px !important;}
  .underlineBtn{font-size:14px;}
  .featureImgBox img{height:120px;width:100%;object-fit:cover;}
  .featureImgBox span{right:inherit;left:inherit;bottom:inherit;position:relative;border:1px solid #ccc;display:block;text-align:center;padding:10px 5px;}
  .sliderGallery .slick-slide{margin-left:30px;}
  .sliderGalleryArrowzz{width:110px;right:330px;height:50px;}
  .customArrows .slick-arrow{width:24px;height:14px;}
  .sliderGalleryArrowzz.customArrows .slick-prev:after{height:20px;right:-20px;top:60%;}
  .sliderGalleryArrowzz.customArrows .slick-prev{left:10px;}
  .sliderGalleryArrowzz.customArrows .slick-next{right:10px;}
  .removeMobile-default-pb2{padding-bottom:0;}
  .Add-default-pb2-in768px{padding-bottom:60px;}
}

@media (min-width:992px) and (max-width:1199.98px){
  .kpRow2 .row .col-md-3 .kpBoxInner:after{left:-30px;}
  .navbar-subnav li a, .navbar-subnav li a:focus{font-size:22px;line-height:42px;}
  .default-pb{padding-bottom:120px;}
  .default-pt{padding-top: 120px;}
  .text1 h2{font-size:36px;line-height:48px;}
  .text1 h3{font-size:26px;line-height:40px;}
  .imgAbs3{right:30px;width:195px;height:198px;}
  .imgAbs2{left:20px;width:185px;height:185px;}
  .serBoxImg img{height:350px;}
  .serBoxText h3{font-size:18px;}
  .serBoxText span{padding:6px 8px;font-size:13px}
  .serBoxText img{width:22px;}
  .text1 h4{font-size:18px;line-height:28px;}
  .expImg img{height:450px;}
  .iconBox span{font-size:14px;}
  .text2 h1{font-size:44px;line-height:58px;}
  .text2 h2{font-size:32px;}
  .scrollingBg h3{font-size:170px;}
  .scrollingRow{height:230px;}

  /* Other CSS */
  .customTabs{padding:20px 5px;}
  .accordion-item .accordion-button{font-size:16px;padding:18px 30px 18px 10px;line-height:26px;}
  .customTabs .nav-tabs .nav-link.active:after, .customTabs .nav-tabs .nav-link:hover:after{width:7px;right:-5px;}
  .accordion-item .accordion-body{padding:0 40px 30px 10px;}
  .accordion-button:not(.collapsed)::after, .accordion-button::after{width:8px;height:13px;}
  .customTabs .nav-tabs .nav-link.active:after, .customTabs .nav-tabs .nav-link:hover:after{width:5px;right:-5px;}
  .default-pt1{padding-top:100px;}
  .sliderGallery .slick-slide{margin-left:30px;}
}

@media (min-width:1200px) and (max-width:1399.98px){
  .kpRow2 .row .col-md-3 .kpBoxInner:after{left:-40px;}
  .default-pb{padding-bottom:120px;}
  .default-pt{padding-top: 120px;}
  .text1 h2{font-size:42px;line-height:48px;}
  .imgAbs3{right:0;width:195px;height:198px;}
  .imgAbs2{left:0;width:185px;height:185px;}
  .serBoxImg img{height:350px;}
  .serBoxText h3{font-size:18px;}
  .serBoxText span{padding:6px 8px;font-size:13px}
  .serBoxText img{width:22px;}
  .text1 h4{font-size:18px;line-height:28px;}
  .expImg img{height:450px;}
  .iconBox span{font-size:14px;}
  .text2 h1{font-size:44px;line-height:58px;}
  .text2 h2{font-size:32px;}
  .scrollingBg h3{font-size:170px;}
  .scrollingRow{height:230px;}

  /* Other CSS */
  .customTabs{padding:20px 5px;}
  .accordion-item .accordion-button{font-size:20px;padding:25px 30px 25px 10px;line-height:26px;}
  .customTabs .nav-tabs .nav-link.active:after, .customTabs .nav-tabs .nav-link:hover:after{width:7px;right:-5px;}
  .accordion-item .accordion-body{padding:0 40px 30px 10px;}
  .accordion-button:not(.collapsed)::after, .accordion-button::after{width:8px;height:13px;}
  .customTabs .nav-tabs .nav-link.active:after, .customTabs .nav-tabs .nav-link:hover:after{width:5px;right:-5px;}
  .default-pt1{padding-top:100px;}
}


@media (max-width:767.98px){
  .navbar-toggler.active .navbar-toggler-icon{background:transparent;transition:0.5s;}
  .navbar-toggler.active .navbar-toggler-icon::before{
    transform: rotate(45deg);
    top: 0;
    height: 1.3px;
    transition:0.5s;
  }

  .navbar-toggler.active .navbar-toggler-icon::after{
    transform: rotate(-45deg);
    top: 0;
    width: 100%;
    height: 1.3px;
    transition:0.5s;
  }
  .siteHeader.active{
    height: 100%;
    position: fixed;
    background-color: #fff;
    transition: 0.5s;
  }
  .navbar-nav li a{
    font-size: 25px;
    line-height: 30px;
  }
  .navbar-nav{flex-direction:column;}
  .navbar-nav li{width:100%;}
  .list-inline-item:not(:last-child){margin-right:0!important;}
  .siteHeader.active .mobileHeaderBtn{opacity: 0;}
  .siteHeader.active main, .siteHeader.active .container{height:100%;}
  .siteHeader.active .socialIcons{display:none;}
  .siteHeader.active .mobileHeaderContent{display:flex !important;}
  .subMenuMobile li a span{position:relative;top:-2px;margin-right:5px;}
  .subMenuMobile{margin: 15px 0;list-style:none;padding-left:0;transition:0.5s;}
  .subMenuMobile li a{font-size:20px;line-height:22px;}
  .subMenuMobile.active{
    height: auto !important;
    display: block !important;
    transition: 0.5s;
  }
  .solMobileAnchor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.h-80{height:80%;}