
.homeBanner{
  /* height: 100vh; */
  padding-top: 20px;
  overflow: hidden;
  position: relative;
}
@media (min-width:1199.98px){
  /* .homeBanner{
    height: 100vh;
  } */
  /* .homeBanner.default-pt{
    padding-top: 0 !important;
  } */
}

@media (min-width:1200px) and (max-width:1399.98px){
  /* .homeBanner{
    height: 100vh;
  } */
}

.homeBanner .svgHome{
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.homeBanner .svgHome svg{
  width: 42px;
  height: 42px;
}

.homeBanner h1{
  font-size: 222px;
  font-weight: 900;
  line-height: 260px;
  color: #000;
  margin-left: -15px;
  /* background-color: #fff; */
  /* mix-blend-mode: lighten; */
  margin-bottom: 0;
  background: #c8ad7f;
  background: linear-gradient(to right, #c8ad7f 0%, #f09681 81%, #c8ad7f 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homeBanner h2{
  font-size: 48px;
  font-weight: 500;
  line-height: 58px;
  margin-top: 20px;
}

@media (min-width:768px){
  .homeBanner h2{
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.vdoTextParent{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vdoText{
  position: relative;
  overflow: hidden;
}

.vdoText video{
  width: 1180px;
  height: 650px;
  position: absolute;
  left: -60px;
  top: -60px;
}

.imgFull img{
  width: 100%;
  height: 100%;
}

.lighterText h2{
  font-size: 48px;
  line-height: 57px;
  font-weight: 600;
  color: rgba(147, 147, 147, 1);
}

.lighterText h2 strong, .lighterText h2 a{
  font-weight: 800;
  color: #000;
  border-bottom: 3px solid #000;
  position: relative;
  z-index: 2;
}

.lighterText h2 a{
  position: relative;
  display: inline-block;
  transition: 0.5s;
}

.lighterText h2 a:hover{
  border-bottom: 3px solid rgba(229, 91, 89, 1);
  transition: 0.5s;
}

.lighterText h2 a:before{
  position: absolute;
  content: "";
  height: 0;
  transition: 0.5s;
}

.lighterText h2 a:hover:before{
  position: absolute;
  content: "";
  background: rgba(229, 91, 89, 1);
  height: 30%;
  width: 100%;
  z-index: -1;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

@media (max-width:376px){
  .homeBanner h1{font-size:64px !important;line-height:58px !important;}
  .homeBanner h2{font-size:24px !important;line-height:34px !important;}
  .homeBanner{height:auto!important;}
  .text1 h2{font-size:26px!important;line-height:36px!important;}
  .lighterText h2{font-size:18px!important;line-height:28px!important;}
}

@media (max-width:575.98px){
  .vdoTextParent{position: relative !important;}
  /* .homeBanner{padding-top:60px;} */
  .homeBanner h1{font-size:64px;margin-left:0;line-height:64px;}
  .homeBanner h2{font-size:28px;line-height:40px;margin-top:20px;}
  .homeBanner h2 br{display:none;}
  .vdoText video{width:575px;height:310px;}
  .homeBanner{height:auto;}
  .lighterText h2{font-size:24px;line-height:36px;}

}

@media (min-width:576px) and (max-width:767.98px){
  .vdoTextParent{position: relative !important;}
  .homeBanner h1{font-size:84px;margin-left:0;line-height:80px;}
  .homeBanner h2{font-size:28px;line-height:36px;margin-top:15px;}
  .vdoText video{width:575px;height:310px;}
  .homeBanner{height:auto;}
  .lighterText h2{font-size:20px;line-height:30px;}
}

@media (min-width:768px) and (max-width:991.98px){
  .homeBanner h1{font-size:110px;line-height:100px;margin-left:0;}
  .homeBanner h2{font-size:28px;line-height:38px;}
  /* .homeBanner{height:100vh;} */
  .lighterText h2{font-size:28px;line-height:40px;padding:0 80px 0 10px;}
}

@media (min-width:992px) and (max-width:1199.98px){
  .homeBanner h1{font-size:165px;line-height:150px;}
  .homeBanner h2{font-size:38px;line-height:50px;}
  /* .homeBanner{height:550px;} */
  .lighterText h2{font-size:32px;line-height:52px;}
  .serBoxImg img{height:360px;}
  .vdoText video{height:500px;width:900px;}
}

@media (min-width:1200px) and (max-width:1399.98px){
  .homeBanner h1{font-size:190px;line-height:180px;}
  .homeBanner h2{font-size:42px;line-height:57px;}
  /* .homeBanner{height:600px;} */
  .lighterText h2{font-size:32px;line-height:52px;}
  .serBoxImg img{height:360px;}
  .vdoText video{height:550px;width:970px;}
}