
.homeBanner{
  height: 700px;
  padding-top: 120px;
  overflow: hidden;
}
/* @media (min-width:1400px){
  .homeBanner{
    height: 100vh;
  }
  .homeBanner.default-pt{
    padding-top: 0 !important;
  }
} */

.homeBanner h1{
  font-size: 250px;
  font-weight: 800;
  line-height: 220px;
  color: #000;
  margin-left: -15px;
  background-color: #fff;
  mix-blend-mode: lighten;
  margin-bottom: 0;
}
.homeBanner h2{
  font-size: 62px;
  font-weight: 700;
  line-height: 77px;
}

.vdoText{
  position: relative;
  overflow: hidden;
}

.vdoText video{
  width: 1180px;
  height: 650px;
  position: absolute;
  left: 0;
  top: 0;
}

.imgFull img{
  width: 100%;
  height: 100%;
}

.lighterText h2{
  font-size: 48px;
  line-height: 57px;
  font-weight: 600;
  color: rgba(147, 147, 147, 1);
}

.lighterText h2 strong, .lighterText h2 a{
  font-weight: 800;
  color: #000;
  border-bottom: 3px solid #000;
  position: relative;
  z-index: 2;
}

.lighterText h2 a:hover{
  border-bottom: 1px solid transparent;
}

@media (max-width:575.98px){
  .homeBanner{padding-top:120px;}
  .homeBanner h1{font-size:84px;margin-left:0;line-height:80px;}
  .homeBanner h2{font-size:28px;line-height:36px;margin-top:15px;}
  .vdoText video{width:575px;height:310px;}
  .homeBanner{height:450px;}
  .lighterText h2{font-size:20px;line-height:30px;}
}

@media (min-width:576px) and (max-width:767.98px){
  .homeBanner h1{font-size:84px;margin-left:0;line-height:80px;}
  .homeBanner h2{font-size:28px;line-height:36px;margin-top:15px;}
  .vdoText video{width:575px;height:310px;}
  .homeBanner{height:400px;padding-top:100px;}
  .lighterText h2{font-size:20px;line-height:30px;}
}

@media (min-width:768px) and (max-width:991.98px){
  .homeBanner h1{font-size:150px;line-height:140px;}
  .homeBanner h2{font-size:38px;line-height:50px;}
  .homeBanner{height:550px;}
  .lighterText h2{font-size:28px;line-height:40px;padding:0 80px 0 10px;}
}

@media (min-width:992px) and (max-width:1199.98px){
  .homeBanner h1{font-size:170px;line-height:140px;}
  .homeBanner h2{font-size:38px;line-height:50px;}
  .homeBanner{height:550px;}
  .lighterText h2{font-size:32px;line-height:52px;}
  .serBoxImg img{height:360px;}
  .vdoText video{height:500px;width:900px;}
}

@media (min-width:1200px) and (max-width:1399.98px){
  .homeBanner h1{font-size:170px;line-height:160px;}
  .homeBanner h2{font-size:42px;line-height:57px;}
  .homeBanner{height:600px;}
  .lighterText h2{font-size:32px;line-height:52px;}
  .serBoxImg img{height:360px;}
  .vdoText video{height:500px;width:900px;}
}